/*
    CHARLES HENRICO VILLA
    UV-2L
*/

body {
    background-color: skyblue;
}

/*==========Navigation Bar==========*/
.navigation{
    width: 100%;
    background-color: Blue;
    overflow: auto;
    border:0;
    display: flex; 
    justify-content: space-around;
    align-items: center; 

}

.navigation a {
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 40px;
}

.navigation a:hover {
    background-color: rgb(204, 204, 0);
}


.navigation a:hover, .navigation a.active {
    background-color: rgb(188, 179, 0); 
}

.flex-nav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

/*==========Profile==========*/
.name{
    background-color: rgb(188, 179, 0);
    text-align: center;
    margin: auto;
    width: 40%;
}

.namebg{
    background-color: skyblue;
}


.profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/*==========Previos Projects==========*/
.prev {
    background-color: rgb(188, 179, 0);
    text-align: center;
    margin: auto;
    width: 80%;
    font-family: 'Courier New', Courier, monospace; 
}

.project{
    display: flex;
    border-style: solid;
    border-width: 5px;
    border:0;
    background-color: skyblue;
}

.flex-project {
    border-style: solid;
    border-width: 2px;
    border:0;
}

.project1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

.project2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.project3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/*==========Autobiography and Skills==========*/
.bg{
    background-color: rgb(188, 179, 0);
    text-align: center;
    margin: auto;
    width: 80%;
}
.HTML{
    background-color: orange;
    text-align: center;
    margin: auto;
    width: 80%;
    font-family: 'Courier New', Courier, monospace; 
}

.CSS{
    background-color: rgb(44, 88, 154);
    text-align: center;
    margin: auto;
    width: 80%;
    font-family: 'Courier New', Courier, monospace; 
}

.JS{
    background-color: yellow;
    text-align: center;
    margin: auto;
    width: 80%;
    font-family: 'Courier New', Courier, monospace; 
}

.bio{
    display: flex;
    border-style: solid;
    border-width: 5px;
    border:0;
    background-color: skyblue;
}

.flex-bio {
    border-style: solid;
    border-width: 2px;
    border:0;
}

/*==========Contact==========*/
.contact{
    background-color: blue;
}

.contact1{
    color: white;
    line-height: 0.5;
}